h1{
  color:black;
}

.git{
  color:black;
  margin-top:50px;
 
}

.panel-heading{
  font-size:28px;
  height:70px;
}

.panel-heading p{
  margin-left:30px;
}

img{
  margin-left:15px;
}

span .empty{
  padding:10px;
}

#repo{
  margin-top:50px;
}

#repo h1{
  text-align:center;
  font-size:30px;
}

.search-form{
  margin-top:30px;
}
