  <body> 
    <form action="" class="search-form">
        <div class="form-group">
            <input  id="searchName" type="text" class="form-control" placeholder="search git users with username" [(ngModel)]="username" name="username" (keyup)="findProfile()">
        </div>
    </form>
    <div class="git">
        <div *ngIf="profile">
            <div class="userDetails">
                <div class="card">
                    <div class="card-header" id="profileName">
                        <p><strong>{{profile.name}}</strong></p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="{{profile.avatar_url}}" class="img-circle img-responsive" alt="">
                            </div>
                            <div class="col-sm-1"></div>
                        
                            <div class="col-sm-5" id="bioDetails">
                                <ul class="list-group">
                                    <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
                                    <li class="list-group-item" *ngIf="profile.email">{{profile.email}}</li>
                                    <li class="list-group-item" *ngIf="profile.html_url"><a href="{{profile.html_url}}" target="_blank">{{profile.html_url}}</a></li>
                                    <li class="list-group-item" *ngIf="profile.location">{{profile.location}}</li>
                                    <li class="list-group-item" *ngIf="profile.created_at">Joined Github: {{profile.created_at | dateCount}}</li>
                                </ul>
                            </div> 
                            
                            <div class="col-sm-3" id="viewMore">    
                                <p><a href="{{profile.html_url}}" target="_blank" class="btn btn-success btn-lg pull-right">View Profile on GitHub</a></p>
                            </div> 
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-3">
                                <p><span class="label label-default">Following {{profile.following}}</span></p>
                            </div>
                            <div class="col-sm-3">
                                <p><span class="label label-default">{{profile.followers}} Followers</span></p>  
                            </div>
                            <div class="col-sm-3">
                                <p><span class="label label-default">{{profile.public_gists}} Public gists</span></p>
                            </div>
                            <div class="col-sm-3">
                                <p><span class="label label-default">{{profile.public_repos}} Public Repos</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="myRepo">
                <div class="card">
                    <div class="card-header" id="repo">
                        <h1 class="panel-title"><em>REPOSITORIES</em></h1>
                    </div>
                </div>
            </div>

            <div class="myCard">    
                <div class="card" *ngFor="let repo of repos">
                    <div class="card-header" id="cardHeader">
                        <h1><strong>Title: {{repo.name}}</strong></h1>
                    </div>
                    <div class="card-body">
                        <p>{{repo.description}}</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-4" id="highlight">
                                <p appHighlight>Created: {{repo.created_at | date:'longDate'}}</p>
                            </div>
                            <div class="col-md-8" id="repoUrl">
                                <p><a href="{{repo.html_url}}" class="btn btn-lg btn-warning pull-right" >View this Project on Github</a></p>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        
    </footer>
</body> 