body{
  font-family: 'ZCOOL XiaoWei', serif; 
}

h1{
  color:black;
}

.git{
  color:black;
  margin-top:50px;
 
}

#profileName{
  font-size:28px;
  height:70px;
}

#profileName p{
  margin-left:30px;
}

img{
  margin-left:15px;
}

span .empty{
  padding:10px;
}

#bioDetails{
  margin-top:30px;
} 

#viewMore{
  margin-top:60px;
}

.myRepo{
  margin-top:50px;
}

#repo h1{
  text-align:center;
  font-size:30px;
}

.search-form{
  margin-top:30px;
  
}

#searchName{
  font-size:28px;
  font-family: 'ZCOOL XiaoWei', serif;
}

.myCard{
  margin-top:30px;
}

.card{
  margin-bottom:50px;
  color:black;
}

#cardHeader h1{
  text-align:center;
}



